<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sera Bak</title>

    <!-- STYLESHEETS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <!-- VENDOR SCRIPTS -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
 -->
    <script src="/scripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/scripts/handlebars-v4.0.5.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <section class="container" id="nav-bar">  
      <nav>
        <a href="/api">API Doc</a>
        <a href="#">Profile</a>
        <a href="#">Destinations</a>
        <a href="#">Add a new one</a>
      </nav>
    </section>

    <section class="container" id="hero">
      <div class="row">
      <hr>
          <h1>Sera's API</h1>
          <!-- <h4><a href="/api">Read My API Documentation</a></h4> -->
        

      </div>
      <div class="row">
        <img id="hero-image" src="/images/goldengatebridge_crop.jpg">
      </div>
    <hr>  
    </section>

    

    <section class="container" id="profile">
      <div class="row">
        <h2>About Me</h2>
      </div>

      <div class="row" id="append-profile">
        <script id="profile-template" type="text/x-handlebars-template">
          <div class="col-md-6">
            <img id="profile-image" src="{{githubProfileImage}}">
          </div>
          <div class="col-md-6">
            <p><a href="{{githubLink}}">Github Link</a></p>
            <p><a href="{{personalSiteLink}}">Personal Site Link</a></p>
            <p>{{currentCity}}</p>
          </div>
        </script>

      </div>
    <hr>
    </section>
    
    

    <section class="container" id="destinations">
      <div class="row">
        <h2>Places I want to visit</h2>
      </div>
      <div class="row" id="destinations-list">
        <script id="destinations-template" type="text/x-handlebars-template">
        {{#each destinations}}
          <div class="destinations-list-item col-md-3">
            <p><img src="{{image}}"></p>
            <p>{{name}}</p>
            <p>{{country}}</p>
            <p id="description"><em>{{description}}</em></p>
            <input class="hidden edit" type="text" value="{{description}}">
            <button type="button" class="hidden edit btn btn-success saveBtn" value="Save" data-id={{_id}}>Save</button>
            <button type="button" class="hidden edit btn btn-danger cancelBtn" value="Cancel">Cancel</button>
            <button type="button" class="btn btn-default updateBtn">Edit Description</button>

            <button type="button" class="btn btn-default deleteBtn" data-id={{_id}}>Delete</button>
          </div>
          
        {{/each}}
        </script>
      </div>
    <hr>
    </section>



    <section class="container" id="form">
      <div class="row">
       <h2>Add a new destination</h2>
      </div>
      <div class="row">
        <form method="POST" action="/api/destinations" id="destinations-form">
          <div class="row">
            <div class="col-md-4"><label for="name">Name</label></div>
            <div class="col-md-8"><input class="clear" name="name" type="text" required></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="country">Country</label></div>
            <div class="col-md-8"><input class="clear" name="country" type="text" required></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="image">Image Url</label></div>
            <div class="col-md-8"><input class="clear" name="image" type="text" required></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label for="description" >Description</label></div>
            <div class="col-md-8"><textarea class="clear" name="description" required></textarea></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label></label></div>
            <div class="col-md-8"><input class="btn btn-default" type="submit"></input></div>
          </div>

      </form>
    </section>
    <footer>
      <div class="row">
        <p>Copyright &copy; 2016 by Sera Bak. All rights reserved.</p>
      </div>
    </footer>




  </body>
</html>
