body {
  
  
  font-family: 'Lato', Helvetica, sans-serif;
}

nav {
	display: inline-block;
	margin-top: 5em;
}

nav a {
	margin: 3em 3em 3em 0;
	font-size: 20px;
	color: #888;
	font-weight: 300;
	text-transform: uppercase;

}

hr {
	margin: 4em 0;

}

h1 {
  margin-bottom: 30px;
  /*text-align: left;*/
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
	text-align: center;
	font-weight: 300;
	margin: 50px;
	text-transform: uppercase;
}

#profile-image {
	width: 50%
	border-radius: 50%;
}

img {
	width: 100%;
}



#append-profile {
	text-align: center;
	width: 40%;
}


.destinations-list-item {
	height: 20em;
}

.container {
	width: 70%;
	margin: 0 auto;

}


#form {
	width: 40%;
	margin: 0 auto 5em auto;
}


label,
input[type="text"],
textarea {
	padding: 5px;
	width: 100%;
	margin: 5px;
}

textarea {
	height: 100px;
}

footer {
	background-color: #dfe0e2;
	height: 13em;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 7em;
}